################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuthJWT.Model/obj
/AuthJWT.Service/obj
/AuthJWT.Tests/bin
/AuthJWT.Tests/obj
/AuthJWT.WebAPI/obj
/AuthJWT.WebAPI/bin
